<div>

<div>

<table>
    <tr>
    <td>LogIn Name:</td>
    <td><input type="text" ng-model="customerCtrl.logiIn"></td>
  </tr>
  
    <tr>
    <td>Password: </td>
    <td><input type="text" ng-model="customerCtrl.password"></td>
  </tr>
  
    <tr>
    <td>FirstName:</td>
    <td><input type="text" ng-model="customerCtrl.firstName"></td>
  </tr>
    <tr>
    <td>Last Name:</td>
    <td><input type="text" ng-model="customerCtrl.lastName"></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><input type="text" ng-model="customerCtrl.email"></td>
  </tr>
    <tr>
    <td></td>
    <td><button ng-click="customerCtrl.createCustomer(true)">Create</button></td>
  </tr>
  
  
</table>


</div>

</div>
