<div>

<div>

<table>
    <tr>
    <td>Enter Card Number:</td>
    <td><input type="text" ng-model="mywalletCtrl.cardNumber"></td>
  </tr>
  
    <tr>
    <td>Enter Name as on Card: </td>
    <td><input type="text" ng-model="mywalletCtrl.name"></td>
  </tr>
  
    <tr>
    <td>Expiry date MM/YY:</td>
    <td><input type="text" ng-model="mywalletCtrl.expdate"></td>
  </tr>
    <tr>
    <td>Enter CVV:</td>
    <td><input type="text" ng-model="mywalletCtrl.cvv"></td>
  </tr>
    <tr>
    <td></td>
    <td><button ng-click="mywalletCtrl.createCard(true)">Add Card</button></td>
  </tr>
  
  
</table>


</div>

</div>
